{# footer.twig #}

{% block footer %}
<!-- FOOTER: comienzo -->
  <div class="footer">
    <div id="informacion">
      <div class="contenedor-columna-3">
        <div class="center">
          <p class="bold">Dirección:</p>
          <p>{{ footer.direccion }}</p>
        </div>
      </div>

      <div class="contenedor-columna-3">
        <div class="center">
          <p class="bold">Teléfono:</p>
          <p>{{ footer.telefono }}</p>
        </div>
      </div>

      <div class="contenedor-columna-3">
        <div class="center">
          <p class="bold">Correo:</p>
          <p>{{ footer.email }}</p>
        </div>
      </div>
    </div>

    <div id="mapa">
      <a href="https://www.google.es/maps" target="_blank" title="Abrir Google Maps">
        <img src="{{ footer.mapa }}">
      </a>
    </div>

    <div id="copyright">
      <div class="contenedor-columna-3">
        <p class="center">Al acceder a esta página confirmas haber leído y aceptado nuestros
          términos de servicio, cookies y políticas de privacidad.</p>
      </div>
      <div class="contenedor-columna-3">
        <p class="center">Copyright 1999-2019.</p>
      </div>
      <div class="contenedor-columna-3">
        <p class="center">Todos los derechos reservados.</p>
      </div>
    </div>

    <div id="rrss">
      <div class="contenedor-columna-3">
        <a class="center" href="https://www.facebook.com/" target="_blank" title="Estamos en Facebook">
          <img src="{{ footer.icn_fb }}"/>
        </a>
      </div>

      <div class="contenedor-columna-3">
        <a class="center" href="https://www.instagram.com/" target="_blank" title="Estamos en Instagram">
          <img src="{{ footer.icn_ig }}"/>
        </a>
      </div>

      <div class="contenedor-columna-3">
        <a class="center" href="https://twitter.com/" target="_blank" title="Estamos en twitter">
          <img src="{{ footer.icn_tw }}"/>
        </a>
      </div>
    </div>

    <div class="logo">
      <img src="{{ footer.logo }}" alt="Logotipo del portal">
    </div>
  </div>

  <!-- SCROLL BUTTON -->
  <button onclick="document.documentElement.scrollTop = 0;" id="scroll"
    title="Volver a arriba"></button>
{% endblock %}

  </body>
</html>
