{# noticia_imprimir.twig #}

{% block noticia %}

<head>
  <link rel="stylesheet" type="text/css" href="css/estilo_imprimir.css">
</head>

<!-- NOTICIA: comienzo  -->
<div class="seccion-noticias">
  <div class="noticia">

    <article>
      <header>
        <h1>{{ noticia.titulo }}</h1>
        <h2>Escrito por {{autor}}</h2>
        <h3>{{ noticia.fecha }}</h3>
        <div class="contenedor-imagen">
          <div class="contenedor-imagen">
            <a href="{{ noticia.enlace }}">
              <img src="{{ noticia.imagen }}" alt=""/>
            </a>
          </div>

          {% for parrafo in noticia.texto %}
          <p class="parrafo">
            {{  parrafo }}
          </p>
          {% endfor %}
          </header>>

      </header>
    </article>

  </div>

{% endblock %}
